@media (min-width: 1023px)
  .banner-principal .tarjeta
    background-image: url('../assets/curso/portada/fondo-banner-contenido.png') !important

.banner-interno__fondo 
  background-image: url('../assets/curso/portada/fondo-banner-principal.png') !important

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)

.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 70%
    right: 90%
    width: 100px
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 7%
    left: 70%
    width: 100px
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 70%
    left: 85%
    width: 100px

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important

.banner-principal__row 
  .banner-principal__img
    width: 399px
    padding-bottom: 0 !important
    padding-top: 20px !important

@media (min-width: 1025px)
  .banner-principal__row .banner-principal__img
    width: 460px

// Fondos 
.bg_img
  &_1
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 290px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/temas/tema_1/img_12.png') !important
      background-repeat: no-repeat
  &_2
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 290px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/temas/tema_1/img_13.png') !important
      background-repeat: no-repeat
  &_3
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 0px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/temas/tema_2/img_12.png') !important
      background-repeat: no-repeat

// acordion
.acordion__activo
  background-color: $color-primario-5 !important
  .acordion__accion__btn--a
    background-color: $color-acento-botones  !important

.acordion__accion__btn--a 
  background-color: $color-acento-botones !important

// Tabla a 
.tabla-a thead
  border-top: 5px $color-acento-contenido solid !important
  color: $color-sistema-a
  background-color: $color-primario-20

.bg-table-01
  background-color: $white
  color: $color-sistema-texto

.bg-table-02
  background-color: $color-sistema-h
  color: $color-sistema-texto
.tabla-a th
  border-color: $color-primario-70
table th, table td
  padding: 10px 10px
  border: 2px $color-primario-70 solid